SERVER_PORT=8081
DB_URL=postgres://postgres:postgres@localhost:5432/grade_estimates?sslmode=disable
JWT_SECRET=change_me_in_production

# SMTP (Mailtrap: sandbox.smtp.mailtrap.io:587)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=твой_логин_из_mailtrap
SMTP_PASS=твой_пароль_из_mailtrap
SMTP_FROM=noreply@grade-estimates.local
